nav {
    width: 100%;
    padding: 10px 20px;
    background: #A3BCF9;
  }

  nav ul {
    list-style: none;
    padding: 0;
  }

  nav ul li {
    display: inline-block;
    border-radius: 3px;
    background: #7796CB;
    padding: 5px 10px;
    box-shadow: 2px 2px 3px 1px #7796CB;
    min-width: 80px;
    text-align: center;
  }

  nav a {
    text-decoration: none;
    color: white;
  }

  .aside {
    background: #D1D2F9;
    height: 100%;
    padding: 20px 10px;
  }

  .form__container {
    padding: 16px;
  }

  .custom-row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -16px;
  }

  .custom-col {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 16px;
  }

  .custom-col-3 {
    width: 25%;
  }

  .custom-col-4 {
    width: 33%;
  }

  .custom-col-6 {
    width: 50%
  }

  .custom-col-8 {
    width: 66%;
  }

  .custom-col-9 {
    width: 75%;
  }

  .footer {
    background: #A3BCF9;
    height: 200px;
    padding: 50px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .terms-and-conditions {
    height: 100px;
    width: 90%;
    border: 1px solid black;
    border-radius: 5px;
    scroll-behavior: smooth;
    overflow: scroll;
  }
